# n8n Webhook URLs
# Kopiraj ovaj fajl u .env i popuni sa tvojim webhook URL-ovima iz n8n-a

# Webhook za dohvatanje varijacija proizvoda po SKU
VITE_WEBHOOK_GET_VARIATIONS=/n8n/webhook-test/get-variations
# Webhook za ažuriranje stanja zaliha
VITE_WEBHOOK_UPDATE_STOCK=/n8n/webhook/update-stock
